
a{
  text-decoration: none;
  color: white;
  font-size: 20px;
}

li{
  display: inline;
  margin-right: 15px;
  padding: 5px;
}

nav{
  padding: 5px;
  background-color: rgb(7, 131, 233);
  border-radius: 10px;
}

.encabezado{
  margin: 0px 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left {
  font-size: 30px;
  margin-left: 6px;
  flex: 60%;
  width: 100%;
  color: white;
}

.left a {
  text-decoration: none;
}